<header class="site-header inner-header">
    <div class="container">
       <div class="header-nav">
          <div class="logo">
             <img routerLink="" src="../../../assets/images/logo.png" alt="logo" />
          </div>
          <div class="nav">
             <div class="login-btn">
                <ul>
                   <li><a href="#" data-toggle="modal" data-target="#login" class="post-job-btn">Post A Job</a></li>
                </ul>
             </div>
             <div class="cart-section">
                <ul>
                   <li><a href="#"><i class="far fa-comment"></i><span class="count"></span></a></li>
                   <li><a href="#"><i class="far fa-bell"></i><span class="count"></span></a></li>
                   <li><a class="mini-photo-wrapper" href="#"><img class="mini-photo"
                            src="../../../assets/images/author.png" alt="user" />John Doe <span
                            class="lnr lnr-chevron-down"></span></a>
                      <div class="menu-container">
                         <ul class="user-menu">
                            <li class="user-menu__item user-setting"><a class="user-menu-link" href="#">Settings</a></li>
                            <li class="user-menu__item">
                               <a class="user-menu-link" href="#">
                                  <div><span class="lnr lnr-chevron-right"></span>Edit Profile</div>
                               </a>
                            </li>
                            <li class="user-menu__item">
                               <a class="user-menu-link" href="#">
                                  <div><span class="lnr lnr-chevron-right"></span>Block List</div>
                               </a>
                            </li>
                            <li class="user-menu__item">
                               <a class="user-menu-link active" href="#">
                                  <div><span class="lnr lnr-chevron-right"></span> Log Out</div>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </li>
                </ul>
             </div>
 
          </div>
       </div>
    </div>
 </header>