<header class="site-header inner-header">
   <div class="container">
      <div class="header-nav">
         <div class="logo">
            <img (click)="backButton()" src="../../../assets/images/logo.png" alt="logo" />
         </div>
         <div class="nav">
            <div class="login-btn">
               <ul>
                  <li *ngIf="currentUser.role_id !== 2"><a class="post-job-btn" (click)="jobModalOpen(addJobs)" id="job-post">Post A
                        Job</a></li>
               </ul>
            </div>
            <div class="cart-section">
               <ul>
                  <li><a href="#"><i class="far fa-comment"></i><span class="count"></span></a></li>
                  <li><a href="#"><i class="far fa-bell"></i><span class="count"></span></a></li>
                  <li><a class="mini-photo-wrapper" (click)="logout()"><img class="mini-photo"
                           src="../../../assets/images/default.jpg" alt="user" />{{currentUser ? currentUser.name :
                        'Test'}} <span class="lnr lnr-chevron-down"></span></a>
                     <!-- <div [ngClass]="isCheck ? menu-container :''"> -->
                       <div class="">
                        <ul class="user-menu">
                           <li class="user-menu__item user-setting"><a class="user-menu-link" >Settings</a></li>
                           <li class="user-menu__item" routerLink="/settings">
                              <a class="user-menu-link">
                                 <div><span class="lnr lnr-chevron-right"></span>Edit Profile</div>
                              </a>
                           </li>
                           <li class="user-menu__item">
                              <a class="user-menu-link" routerLink="/settings">
                                 <div><span class="lnr lnr-chevron-right"></span>Block List</div>
                              </a>
                           </li>
                           <li class="user-menu__item">
                              <a class="user-menu-link active"(click)=Signout()>
                                 <div><span class="lnr lnr-chevron-right"></span> Log Out</div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>

         </div>
      </div>
   </div>
</header>

<!--popup--->

<ng-template #addJobs>
   <div class="hmodal" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
               <span class="lnr lnr-cross"></span>
            </button>
            <div class="modal-body">
               <h4 class="section-title">Post A <span>Job</span></h4>
               <form class="post-job" [formGroup]="jobPostForm" (ngSubmit)="submitStep()">
                  <div class="education">
                     <h4>Add Basic Details</h4>
                     <div class="form">
                        <input type="text" class="form-control" placeholder="Add Job title" formControlName="title">
                        <show-errors [control]="jobPostForm.controls.title"></show-errors>

                     </div>
                     <div class="box">
                        <ngx-select [items]="emplyment_type_list" formControlName="type" placeholder="Employement Type">
                        </ngx-select>
                        <show-errors [control]="jobPostForm.controls.type"></show-errors>

                     </div>
                     <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Job Description" formControlName="descriptions"></textarea>
                     <show-errors [control]="jobPostForm.controls.descriptions"></show-errors>
                     <div class="form">
                        <input type="text" class="form-control" placeholder="Add Salary" formControlName="salary">
                        <show-errors [control]="jobPostForm.controls.salary"></show-errors>
                     </div>
                     <div class="form">
                        <input type="text" class="form-control" placeholder="Location" formControlName="location">
                        <show-errors [control]="jobPostForm.controls.location"></show-errors>
                     </div>
                     <div class="form">
                        <ngx-select [items]="description" formControlName="description" placeholder="Select 
                        skills">
                        </ngx-select>
                     </div>
                     <show-errors [control]="jobPostForm.controls.description"></show-errors>
                  </div>
                  <button class="primary-btn text-center" type="submit">Next <span
                        class="lnr lnr-arrow-right"></span></button>
               </form>
            </div>
         </div>
      </div>
   </div>
</ng-template>