<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 footer-brand">
                <img routerLink="" src="../../../assets/images/logo.png" alt="logo" />
            </div>
            <div class="col-sm-3">
                <ul class="footer-nav">
                    <li><a href="#" routerLink="/about">About</a></li>
                    <li><a href="#" routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-nav">
                    <li><a href="#">Term And Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="social-share">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <p>© 2021 Job Portal.</p>
            </div>
        </div>
    </div>
</footer>