<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<section class="inner-banner">
   <div class="container">
      <h1 class="section-title">Membership <span>Plan</span></h1>
      <p>Choose membership plan to start accessing all the features.</p>
   </div>
</section>
<div class="container">
   <section class="pricing-table d-flex align-items-center">
      <div class="pricing-card monthly-plan">
         <span class="plan-valid">Starter Plan</span>
         <div class="plan-price"><sup class="heading-gradient-4">$</sup><span
               class="price heading-gradient-4">9</span><span class="period">/ Month</span></div>
         <ul class="plan-services">
            <li>5 Job posting </li>
            <li>Pin 5 Messages at top from list </li>
         </ul>
         <a href="javascript:void(0);" class="plan-btn w-100">Signup Today!</a>
      </div>
      <div class="pricing-card lifetime-plan">
         <span class="plan-valid">Pro Plan</span>
         <div class="plan-price"><sup class="heading-gradient-1">$</sup><span
               class="price heading-gradient-1">29</span><span class="period">/ 1 Time</span></div>
         <ul class="plan-services">
            <li>Pin 5 Messages at top from list </li>
            <li>Pin 10 messages at top from list</li>
         </ul>
         <a href="javascript:void(0);" class="plan-btn w-100 heading-gradient-1">Signup Today!</a>
      </div>
      <div class="pricing-card annual-access">
         <span class="plan-valid">Premium Plan</span>
         <div class="plan-price"><sup class="heading-gradient-2">$</sup><span
               class="price heading-gradient-2">59</span><span class="period">/ Year</span></div>
         <ul class="plan-services">
            <li>Pin 10 messages at top from list </li>
            <li>17 Pin messages</li>
         </ul>
         <a href="javascript:void(0);" class="plan-btn w-100">Signup Today!</a>
      </div>
   </section>
   <p class="cancel-membership">Cancel your membership or upgrade to a different package at any time after signing up.
   </p>
</div>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>