<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<section class="inner-banner">
   <div class="container">
      <h1 class="section-title">Messages</h1>
      <p></p>
   </div>

   <div *ngFor="let message of messageList">

   </div>
   
   <!-- <div class="chat-messages">
      <div class="chat-messages-show-container">
        <ul class="chat-messages-show-list" id="message-lists">
        </ul>
      </div>
   </div> -->
</section>
<section class="container">
   <div class="row rounded-lg overflow-hidden chat-box">
      <!-- Users box-->
      <div class="col-4">
         <button class="chat-menu recent-btn">Chat</button>
         <div class="bg-white recent-posts">
            <div class="messages-box">
               <div class="list-group rounded-0">
                  <ul class="message-list" id="myTab" role="tablist">

                     <li class="nav-item">
                        <a class="active list-group-item list-group-item-action" id="home-tab" data-toggle="tab"
                           href="#home" role="tab" aria-controls="home" aria-selected="true">
                           <div class="media">
                              <img src="../../../assets/images/default.jpg" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <!-- <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="profile-tab" data-toggle="tab"
                           href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab" data-toggle="tab"
                           href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab1" data-toggle="tab"
                           href="#tab1" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab2" data-toggle="tab"
                           href="#tab2" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab3" data-toggle="tab"
                           href="#tab3" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab4" data-toggle="tab"
                           href="#tab4" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab5" data-toggle="tab"
                           href="#tab5" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="list-group-item list-group-item-action" id="contact-tab6" data-toggle="tab"
                           href="#tab6" role="tab" aria-controls="contact" aria-selected="false">
                           <div class="media">
                              <img src="../../../assets/images/chat-1.png" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                 <div class="d-flex align-items-center mb-1">
                                    <h6 class="mb-0">Jason Doe</h6>
                                    <small class="small font-weight-bold">25 Dec</small>
                                 </div>
                                 <p class="font-italic mb-0 text-small">Hello John. I’m an expert in p...</p>
                              </div>
                           </div>
                        </a>
                     </li> -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-content col-8" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p id="message-lists"></p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
              
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" [(ngModel)]="message" aria-describedby="button-addon2"
                        class="form-control rounded-0" >
                     <div class="input-group-append">
                        <button id="button-addon2" type="submit" class="btn btn-link" (click)="SendMessage()"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               
            </div>
         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon9" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon13"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon10" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon4" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon5" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon7" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon8" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon12" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Chat Box-->
            <div class="chat-wrapper">
               <div class="chat-box1">
                  <div class="chat-header">
                     <h3><span class="lnr lnr-arrow-left"></span> John Smith</h3>
                     <span><i class="fas fa-ellipsis-v"></i></span>
                  </div>
                  <!-- receiver Message-->
                  <div class="reciever-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Noah</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p</p>
                     </div>
                  </div>
                  <!--sender-->
                  <div class="sender-message">
                     <div class="media-body ml-4">
                        <div class="d-flex align-items-center mb-1">
                           <h6>Jason Doe</h6>
                           <small class="small font-weight-bold">25 Dec</small>
                        </div>
                        <p>Hello John. I’m an expert in p...</p>
                     </div>
                  </div>
               </div>
               <!-- Typing area -->
               <form action="#" class="">
                  <div class="input-group">
                     <input type="text" placeholder="Type Anything" aria-describedby="button-addon2"
                        class="form-control rounded-0">
                     <div class="input-group-append">
                        <button id="button-addon13" type="submit" class="btn btn-link"><span
                              class="lnr lnr-arrow-right"></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>

<!--popup--->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>